.beautify {
  background-color: royalblue;
  color: beige;
  padding: 8px;
  margin-top: 9px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}